.sobre {
    position: relative;
}

.card-dropDown {
    position: absolute;
    background-color: #e54;
    border: 2px solid #222;
    padding: 0 8px;
    display: none;
    animation: dropDown 400ms;
    z-index: 500;
}

.card-dropDown.card-mobile.dropDown {
    display: block;
}

.sobre:hover .card-dropDown {
    display: block;
}

.card-dropDown li {
    padding: 4px;
}

.card-dropDown li a:hover {
    color: #fff;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}