.sobre {
    position: relative;
}

.card-slideDown {
    position: absolute;
    background-color: #e54;
    border: 2px solid #222;
    padding: 0 8px;
    display: none;
}

.sobre:hover .card-slideDown {
    display: block;
    animation: slideDown 400ms;
}

.card-slideDown li {
    padding: 4px;
}

.card-slideDown li a:hover {
    color: #fff;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}